/* reset css */
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 2px;
    color: black;
}

body *:lang(en) {
    font-family: 'Lora', 'Georgia', serif;
    letter-spacing: 2px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    color: #444;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    padding: 0;
  }
  
  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url('./public/image/navbar_background.png') no-repeat center;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
  }
  
  .header-inner {
    position: relative;
    z-index: 2; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
  }

.logo img {
    width: 180px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul li img {
    width: 30px;
    height: 30px;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

 
/* 主要內容 */
.main {
  flex: 1;
  height: 1000px;
  position: relative;
  z-index: 2;
} 

/* 背景 */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./public/image/背景材質.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: 2;
    pointer-events: none;
}

.arc-background {
    position: absolute;
    background-position: center;
    bottom: 0;
    width: 100%;
    height: 1000px;
    background: url('./public/image/Knowledge2_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-top-left-radius: 100% 70%;
    border-top-right-radius: 100% 70%;

    z-index: 1;
    pointer-events: none;
}




/* Footer */
.footer {
    z-index: 3;
    padding-bottom: 30px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.footer-content>div {
    flex: 1 1 200px;
    max-width: 300px;
    text-align: left;
    font-family: 'Noto Sans TC';
    font-weight: 300;
}

.footer h3 {
    color: white;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer ul li {
    color: white;
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    font-size: 14px;
}

.contact p {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.social-icons img {
    width: 48px;
    height: 48px;
}

.copyright {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    color: white;
    margin-top: 40px;
}
