/* reset css */
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    color: black;
}

body *:lang(en) {
    font-family: 'Lora', 'Georgia', serif;
    letter-spacing: 2px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    color: #444;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
    padding: 0;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url('./public/image/navbar_background.png') no-repeat center;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

.header-inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo img {
    width: 180px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul li img {
    width: 30px;
    height: 30px;
}


html,
body {
    position: relative;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

/* 內容 */
.category {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-weight: 450;
    color: #A78DBB;
}

.category li {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 6px 14px;
    border-radius: 20px;
}

.category li:hover {
    border: 2px solid #A78DBB;
    background-color: rgba(167, 141, 187, 0.1);
}

.crystal {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystal h1 {
    position: absolute;
    z-index: 1;
    font-family: 'Lora', 'Georgia', serif;
    font-size: 160px;
    color: #5750AD;
    opacity: 0.16;
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.crystal-img {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 325px;
    margin-top: 250px;
}




.arc-inner-content {
    position: relative;
    z-index: 3;
    padding: 60px 20px;
    color: white;
}

.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
    max-width: 616px;
    margin: 0 auto; 
    padding: 40px 60px; 
}

.part1 h2{
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}



.p2p3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    text-align: center;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto; 
    gap: 120px;
    padding: 40px 20px; 
}

.p2p3 h2{
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 100;
    font-size: 24px;
    width: 500px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.arc-inner-content {
    position: relative;
    z-index: 3;
    padding: 60px 20px;
    color: white;
}

.recommended-crystals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'LXGW WenKai Mono TC';
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin: 40px auto 160px;
    
}

.rc-img{
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
}

.recommended-crystals img{
    width: 50px;
}

/* 背景 */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./public/image/背景材質.png');
    background-size: cover;
    background-repeat: repeat;
    z-index: 2;
    pointer-events: none;
}


.arc-wrapper {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.arc-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./public/image/Knowledge2_background.png') no-repeat center;
    background-size: cover;
    border-top-left-radius: 100% 60%;
    border-top-right-radius: 100% 60%;
    pointer-events: none;
    z-index: 1;
}



/* Footer */
.footer {
    position: relative;
    z-index: 2;
    color: white;
    padding: 40px 20px 30px;
    background: transparent;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.footer-content>div {
    flex: 1 1 200px;
    max-width: 300px;
    text-align: left;
    font-family: 'Noto Sans TC';
    font-weight: 300;
}

.footer h3 {
    color: white;
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer ul li {
    color: white;
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    font-size: 14px;
}

.contact p {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.social-icons img {
    width: 48px;
    height: 48px;
}

/* 預設圖 */
.social-icons a:nth-child(1) img {
    content: url('./public/image/icon/sns-line-state-default.svg');
}

.social-icons a:nth-child(2) img {
    content: url('./public/image/icon/sns-ig-state-default.svg');
}

.social-icons a:nth-child(3) img {
    content: url('./public/image/icon/sns-fb-state-default.svg');
}

/* hover */
.social-icons a:nth-child(1):hover img {
    content: url('./public/image/icon/sns-line-state-hover.svg');
}

.social-icons a:nth-child(2):hover img {
    content: url('./public/image/icon/sns-ig-state-hover.svg');
}

.social-icons a:nth-child(3):hover img {
    content: url('./public/image/icon/sns-fb-state-hover.svg');
}


.copyright {
    font-family: 'Noto Sans TC';
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    color: white;
    margin-top: 40px;
}