@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&display=swap");
/* reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* 不累加邊框及內距 */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
}

/* ------字體------ */
body {
  font-family: "Lora", "Georgia", "LXGW WenKai Mono TC", serif;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 2px;
}

body {
  position: relative;
}
body .bgdark1 {
  background-image: url(../../public/image/cover\ bg1.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 300vh;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
body .bgdark2 {
  background-image: url(../../public/image/cover\ bg2.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 36.5%;
  position: absolute;
  top: 63.6%;
  left: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

/*menu bar*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.22) 23.56%, rgba(0, 0, 0, 0.06) 64.9%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 180px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul li a img {
  width: 30px;
  height: 30px;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./public/image/背景材質.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  z-index: 2;
  pointer-events: none;
}

/*封面1*/
.ch-cover {
  height: 100vh;
  position: relative;
}
.ch-cover .cover-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #FFF 2px solid;
}
.ch-cover .cover-box .deco1 {
  width: 53px;
  height: 94px;
  position: absolute;
  left: 31.6%;
  top: 29.6%;
}
.ch-cover .cover-box h2 {
  color: #FFF;
  font-size: 24px;
}
.ch-cover .cover-box h2 span {
  font-family: "LXGW WenKai Mono TC";
  font-weight: 100;
  line-height: 1.5%;
  letter-spacing: 8px;
}
.ch-cover .cover-box h2 .cover1 {
  font: size 24px;
  writing-mode: vertical-rl;
  width: 44px;
  height: 324px;
  position: absolute;
  left: 43.4%;
  top: 16.1%;
}
.ch-cover .cover-box h2 .cover2 {
  font: size 24px;
  writing-mode: vertical-rl;
  width: 44px;
  height: 324px;
  position: absolute;
  left: 52.7%;
  top: 28.6%;
}
.ch-cover .cover-box .deco2 {
  width: 22px;
  height: 38px;
  transform: rotate(36deg);
  position: absolute;
  left: 62.8%;
  top: 24.3%;
}
.ch-cover .cover-box .deco3 {
  width: 34px;
  height: 60px;
  transform: rotate(54deg);
  position: absolute;
  left: 65.8%;
  top: 68.3%;
}
.ch-cover .cover-box .scroll {
  width: 28.5px;
  height: 97.1px;
  position: absolute;
  left: 49%;
  top: 72.8%;
}

/*封面2*/
.section-starttest {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 50.2px;
}
.section-starttest .startbox1 {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 35%;
}
.section-starttest .startbox1 .left {
  width: 305.66px;
  height: 649.91px;
}
.section-starttest .startbox1 .right {
  width: 316.46px;
  height: 649.72px;
}
.section-starttest .startbox2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 22.2px;
}
.section-starttest .startbox2 p {
  color: #FFF;
  font-size: 24px;
}
.section-starttest .startbox2 .scroll {
  width: 28.5px;
  height: 97.1px;
}
.section-starttest .startbtn {
  width: 152.49px;
  height: 346.82px;
  position: absolute;
  left: 44.7%;
  top: 25.6%;
  z-index: 1;
}
.section-starttest .bling {
  width: 445.82px;
  height: 402.37px;
  position: absolute;
  left: 34%;
  top: 27.8%;
}
.section-starttest .numbg {
  width: 1127.82px;
  height: 707.42px;
  position: absolute;
  left: 11.3%;
  top: 6.7%;
}

/*憑直覺抽一張吧*/
#section-tarotcard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#section-tarotcard .tarotcard {
  margin: 8.7% 5.57% 9% 5.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.5%;
}
#section-tarotcard .tarotcard #tarotcard-title {
  color: #fff;
  font-size: 24px;
  width: 344px;
  height: 42px;
  display: flex;
  justify-items: center;
  align-items: center;
}
#section-tarotcard .tarotcard #tarotcard-title span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-tarotcard .tarotcard #tarotcard-title .dimond-left {
  width: 22px;
  height: 39.22px;
  margin: 0 50px 0 0;
}
#section-tarotcard .tarotcard #tarotcard-title .dimond-right {
  width: 22px;
  height: 39.22px;
  margin: 0 0 0 50px;
}
#section-tarotcard .tarotcard #tarotcard-box {
  width: 1279px;
  height: 427px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-tarotcard .tarotcard #tarotcard-box .cardchild-1 {
  width: 280px;
  height: 455px;
  margin-left: 0;
}
#section-tarotcard .tarotcard #tarotcard-box .card {
  width: 280px;
  height: 455px;
  margin-left: -110px;
}
#section-tarotcard .tarotcard #tarotcard-btn {
  width: 283px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*樣式*/
  color: #8750BF;
  background-color: transparent;
  border-radius: 1000px;
  border: 2px solid #8750BF;
  backdrop-filter: blur(2px);
}
#section-tarotcard .tarotcard #tarotcard-btn a {
  color: #8750BF;
}

/*訂製專屬手鍊*/
#custom {
  color: #fff;
  height: 87.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/客製化BN.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#custom #title-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#custom #title-all .custom-title {
  width: 783px;
  height: 121px;
  margin: 54px auto 34px;
  margin-top: 54 auto auto px;
  display: flex;
  align-items: center;
}
#custom #title-all .custom-title #custom-titlebox {
  width: 620px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#custom #title-all .custom-title #custom-titlebox h2 {
  font-size: 36px;
}
#custom #title-all .custom-title #custom-titlebox h3 {
  font-size: 18px;
}
#custom .dimond-left {
  width: 34px;
  height: 60px;
  margin: 0 40px 0 0;
}
#custom .dimond-right {
  width: 34px;
  height: 60px;
  margin: 0 0 0 40px;
}
#custom button {
  width: 264px;
  height: 57px;
  /* 玻璃擬態 */
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.1) inset, 0px 0px 15px 2px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(25px);
}
#custom button a {
  color: #FFF;
}

/*水晶小百科*/
#section-crystaldiscovery {
  height: 100vh;
  color: #8750BF;
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin: none; */
}
#section-crystaldiscovery .crystal-display {
  position: relative;
  margin: auto;
  width: 40%;
  height: 691px;
}
#section-crystaldiscovery .crystal-display .circle {
  position: absolute;
  top: 80%;
  left: 13%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  transform-origin: center -230px;
  /* 半徑可調整 */
}
#section-crystaldiscovery .crystal-display .circle:nth-child(1) {
  transform: rotate(0deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(2) {
  transform: rotate(30deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(3) {
  transform: rotate(60deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(4) {
  transform: rotate(90deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(5) {
  transform: rotate(120deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(6) {
  transform: rotate(150deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(7) {
  transform: rotate(180deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(8) {
  transform: rotate(210deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(9) {
  transform: rotate(240deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(10) {
  transform: rotate(270deg);
  width: 150px;
  height: 150px;
  position: relative;
}
#section-crystaldiscovery .crystal-display .circle:nth-child(10)::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(../images/icon_btn_up.ico.svg);
  display: block;
  position: absolute;
  top: -74px;
  right: 61px;
}
#section-crystaldiscovery .crystal-display .circle:nth-child(10)::after {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(../images/icon_btn_down.ico.svg);
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  display: block;
  position: absolute;
  top: 164px;
  right: 61px;
}
#section-crystaldiscovery .crystal-display .circle:nth-child(11) {
  transform: rotate(300deg);
}
#section-crystaldiscovery .crystal-display .circle:nth-child(12) {
  transform: rotate(330deg);
}

.section-crystaldiscovery {
  margin: 6.7% 11.5% 9.7% 7.91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 35px;
}
.section-crystaldiscovery header {
  width: 498px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.section-crystaldiscovery header #titlediscovery {
  /* color: #FFF; */
  font-size: 28px;
  width: 498px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-crystaldiscovery header::before {
  content: "";
  display: block;
  width: 82.94px;
  height: 11.31px;
  margin-right: 16px;
  background-image: url("../../public/image/icon/裝飾-紫.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.section-crystaldiscovery header::after {
  content: "";
  display: block;
  transform: rotate(180deg);
  width: 82.94px;
  height: 11.31px;
  margin-right: 16px;
  background-image: url("../../public/image/icon/裝飾-紫.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.section-crystaldiscovery .crystaldiscovery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* 水晶info */
  /* 主要功效 */
  /* 適合人群 */
  /* 建議水晶 */
}
.section-crystaldiscovery .crystaldiscovery .crystal {
  width: 600px;
  height: 118px;
  padding: 20px 35px;
  /* border: 2px #FFF solid; */
  display: flex;
  justify-items: center;
  align-items: center;
  /* 玻璃擬態 */
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(2.5px);
}
.section-crystaldiscovery .crystaldiscovery .crystal .crystal-name {
  width: 117px;
  height: 78px;
  padding: 0 24px 0 0;
  border-right: 1px #FFF solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-crystaldiscovery .crystaldiscovery .crystal .crystal-name .crystal-enname {
  font-size: 20px;
}
.section-crystaldiscovery .crystaldiscovery .crystal .crystal-name .crystal-chname {
  font-size: 28px;
}
.section-crystaldiscovery .crystaldiscovery .crystal .discovery-content {
  font-size: 100%;
  width: 389px;
  height: 78px;
  padding: 0 0 0 24px;
  margin: none;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p1 {
  width: 600px;
  height: 164px;
  padding: 20px 35px;
  /* border: 2px #FFF solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 玻璃擬態 */
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(2.5px);
}
.section-crystaldiscovery .crystaldiscovery .discovery-p1 h2 {
  font-size: 20px;
  width: 530px;
  height: 30px;
  padding: 0 0 8px 0;
  border-bottom: 1px #FFF solid;
  display: flex;
  align-items: center;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p1 .discovery-p1content {
  width: 530px;
  height: 78px;
  margin-top: 8px;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p2 {
  width: 600px;
  height: 138px;
  padding: 20px 35px;
  /* border: 2px #FFF solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 玻璃擬態 */
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(2.5px);
}
.section-crystaldiscovery .crystaldiscovery .discovery-p2 h2 {
  font-size: 20px;
  width: 530px;
  height: 30px;
  padding: 0 0 8px 0;
  border-bottom: 1px #FFF solid;
  display: flex;
  align-items: center;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p2 .discovery-p2content {
  width: 530px;
  height: 52px;
  margin-top: 8px;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p3 {
  width: 600px;
  height: 76px;
  padding: 20px 35px;
  gap: 32px;
  display: flex;
  align-items: center;
  /* 玻璃擬態 */
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(2.5px);
}
.section-crystaldiscovery .crystaldiscovery .discovery-p3 h2 {
  font-size: 20px;
  width: 132px;
  height: 30px;
  /* border: 1px #FFF solid; */
  display: flex;
  align-items: center;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p3 .discovery-imgbox {
  display: flex;
  gap: 12px;
}
.section-crystaldiscovery .crystaldiscovery .discovery-p3 .discovery-imgbox .discovery-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/*礦迷回饋*/
#section-feedback .feedback-displaytitle {
  width: 438px;
  height: 78px;
  margin: 100px auto 90px;
  /* margin-top: 50 auto auto px; */
  display: flex;
  align-items: center;
}
#section-feedback .feedback-displaytitle #title {
  color: #FFF;
  font-size: 28px;
  width: 438px;
  height: 78px;
  /* margin: 0 auto 90px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-feedback .feedback-box {
  margin: 0 0 142px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#section-feedback .feedback-box .feedback-arrowleft {
  width: 48px;
  height: 48px;
  margin: 0 23px 0 0;
}
#section-feedback .feedback-box .feedback-arrowright {
  width: 48px;
  height: 48px;
  margin: 0 0 0 23px;
}
#section-feedback .feedback {
  color: #FFF;
  width: 290px;
  height: 140px;
  border-radius: 20px;
  /* border: 1px solid #000; */
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  /* 玻璃擬態 */
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(233, 166, 160, 0.3);
  backdrop-filter: blur(2.5px);
}
#section-feedback .feedback .review-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}
#section-feedback .feedback .review-pic .member-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* position: absolute; */
}
#section-feedback .feedback .review-pic .review-img {
  width: 113px;
  height: 90px;
  border-radius: 10px;
  /* position: absolute; */
}
#section-feedback .feedback .feedback-left {
  width: 135px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
#section-feedback .feedback .feedback-left .star-box {
  display: flex;
  justify-content: start;
  gap: 8px;
}
#section-feedback .feedback .feedback-left .star-box .star {
  width: 10px;
  height: 17px;
}
#section-feedback .feedback .feedback-left p {
  width: 135px;
  height: 72px;
  font-size: 12px;
}

/*footer*/
.footer {
  border-radius: 60px 60px 0 0;
  background-image: url("./public/image/footer背景.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.footer-content div {
  flex: 1 1 200px;
  max-width: 300px;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 300;
}

.footer h3 {
  color: white;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer ul li {
  color: white;
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  font-size: 14px;
}

.contact p {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 48px;
  height: 48px;
}

/* 版權 */
.copyright {
  font-family: "Noto Sans TC";
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  color: white;
  margin-top: 40px;
}