@charset "UTF-8"; /* 必須在第一行 */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+TC:wght@100..900&display=swap');/* google fonts常在第二行，只允許編碼在上面 */

@font-face { /* 字體需上傳到自己的伺服器 */
    font-family: "Sakitu Baelah Clean";
    src: url(../webfont/Sakitu\ Baelah\ Clean.ttf);
}
/* reset CSS */
* {
    box-sizing: border-box;
    /* 不累加邊框及內距 */
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

/* 重置標題 */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}
/* 重置連接 */
a {
    display: block;  /* a預設的行內元素，不支援寬高及上下的間距，通常會改為區塊，方便設定 */
    color: #ffffff;
    text-decoration: none;
}
/* 變數：root */
:root{
    --color-deep:#585858;
    --bg:url(../images/noisy-background.jpg);
    --bg2:url(../images/bg.jpg);
    --color-bg1:#faf2fc;
    --color-primary1:#8750BF;
    --color-primary2:rgb(162, 105, 232);
    --color-lesser3:rgb(66, 73, 212);
    --letter-spacing:2.4px;
    --font-h2: "LXGW WenKai Mono TC",  monospace;
    --font-button-24: "Noto Sans TC", sans-serif;
}



/* 內容 */
main p {
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
    margin: 3vh 0 0;
}
.text {
    color: var(--color-deep);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text2, .text3 {
    color: var(--color-deep);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.text3-wrap {
    top: 150px;
}
.text2 img, .text3 img {
    width: 82.936px;
}
.text2 h2, .text3 h2 {
    color: var(--color-primary1);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    font-family: var(--font-h2);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
}
.text2 h2 {
    margin-top: -300px;
}
.text h2 {
    color: var(--color-primary1);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: var(--font-h2);
    font-size: 30px;
    letter-spacing: var(--letter-spacing);
}
.index, .index2, .index3 {
    height: calc(100vh - 70px);
    position: relative;
    z-index: 0;
}
.index {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.index2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 216px;
    z-index: 1;
}
.button-box {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
}
.button-box2, .button-box3 {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
}
.button-box2 {
    margin-top: -150px;
}
.button1, .button2 {
    color: #ffffff;
    font-size: 24px;
    letter-spacing: var(--letter-spacing);
    border: none;
    border-radius: 999px;
        /* 背景材質 */
        background-image: 
        linear-gradient(rgba(162, 105, 232, 0.95), rgba(162, 105, 232, 0.95)),
        var(--bg);
    z-index: 1;
}
.button1 {
    width: 340px;
    height: 68px;
}
.button2 {
    width: 236px;
    height: 56px;
}
.background-1, .background-2 {
    /* border: 3px solid #83000b; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 280px; */
    z-index: 0;
}
.background-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;

}
.background-1 img {
    width: 1097px;
}
.img1 {
    width: 386px;
    height: 387px;
}
.img2, .img3 {
    width: 322px;
    height: 322px;
}
.index3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    padding-top: 80px;
    padding-bottom: 75px;
}

/* navbar-icon */
.icon-search {
    background-image: url(../images/icon_search.ico.svg);  /* ../回上層 */
}
.icon-cart {
    background-image: url(../images/icon_cart.ico.svg);
}
.icon-member {
    background-image: url(../images/icon_member.ico.svg);
}
.icon-menu {
    background-image: url(../images/icon_bgrbtn.ico.svg);
}